/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.title {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-size: 14em;
  font-weight: 100;
  text-align: center;
}
.description {
  font-family: Roboto;
  font-size: 1.6em;
  text-align: center;
  font-weight: 300;
}
.footer-title {
  font-family: apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  font-weight: 100;
}
.footer-small-title {
  text-transform: uppercase !important;
  color: lightcyan !important;
  letter-spacing: 0.1em !important;
  padding: 1em !important;
  text-align: center;
}
.page-footer li a:hover {
  opacity: 1;
}
.page-footer li a {
  opacity: 0.6;
  cursor: pointer !important;
}
.page-footer li {
  padding: 0.2em;
}
.footer-btn-text {
  vertical-align: top;
  padding-left: 1em;
}
.footer-btn-row {
  text-transform: uppercase;
  margin-top: 1.5em;
}
.footer-small-title-row {
  margin-bottom: 0 !important;
}
.footer-text {
  text-align: center;
  color: lightslategrey;
  font-family: Roboto;
  padding: 1em;
}
.ft-span {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #37474f !important;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  background-color: #263238 !important;
}
h1,h2,h3,h4,h5{
  font-weight: 100;
}
